﻿@page
@model IndexModel
@using Examen.Models
<h4>@ViewData["Profile"]</h4>

<h4>@ViewData["TotalBalans"] - @ViewData["Total"]</h4>
<a asp-action="Transfer" asp-controller="PersonalCard">@ViewData["AnotherUserTransfer"]</a>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <img src="~/@Model.Input.AvatarImage" width="100" height="100" />
            </div>
            <div class="form-group">
                <label asp-for="Username">@ViewData["Username"]</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">@ViewData["Email"]</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    @*<button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>*@
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">@ViewData["Phone"]</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">@ViewData["Save"]</button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@ViewData["Data"]</th>
            <th scope="col">@ViewData["SenderApplicationUser"]</th>
            <th scope="col">@ViewData["ReceiverApplicationUser"]</th>
            <th scope="col">@ViewData["TotalSum"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IEnumerable<ActionTransfer>)(ViewData["Actions"]))
        {
        <tr>
            <td>@item.CreateData</td>
            @if (item.SenderApplicationUser == null)
            {
            <td>Ananimus</td>
            }
            else
            {
                <td>@item.SenderApplicationUser.Email</td>
            }

            <td>@item.ReceiverApplicationUser.Email</td>
            <td>@item.SumAction</td>

        </tr>
        }

    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
