﻿@model Examen.Models.ActionTransfer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>ActionTransfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@ViewData["Sum"]</label>
                <input name="sum" class="form-control" />
                @*<span asp-validation-for="SumAction" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">@ViewData["CardId"]</label>
                <input name="id" class="form-control" />
                @*<span asp-validation-for="SumAction" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" asp-action="CreateAnonim" value="@ViewData["Send"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
