﻿@using Microsoft.AspNetCore.Mvc.Localization


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Transfer"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">@ViewData["CardId"]</label>
                <input name="id" class="form-control" />
                @*<span asp-validation-for="Total" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label class="control-label">@ViewData["Sum"]</label>
                <input name="sum" class="form-control" />
                @*<span asp-validation-for="Total" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input asp-action="TransferAccept" type="submit" value="@ViewData["Send"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
